= subscribe_to "/votes/update"
= subscribe_to "/party/next_style"
- if @party.started?
  - if @main
    = link_to "Next Style", [:next_style,@party], :class => "next_style btn", :remote => true
  .container.styles
    = "#{@party.styles.playing.first.name}"
    #countdown{:"data-remaining" => @party.countdown, :"party-id" => @party.id, :main => @main}

  .bars-container
    .bars
      - @party.styles.voting.each_with_index do |style, i|
        %div.bar{"data-votes" => "#{style.votes.count}", :class => "bar-#{i} style-#{i}", :id => "bar-#{style.id}"}
          %span{:id => "votes-#{style.id}", :class => "label"}
            = "#{style.votes.count}"
          %span{:class => "label inner-label"}="#{style.name}"

  .votes
    - @party.styles.voting.each do |style|
      %div.perc-33
        = link_to "Vote", { :controller => 'votes', :action => 'create', :remote => true, :style_id => style.id}, :method => :post, :class => "btn"

- else
  = "Explanations will go here"
  %br
  = link_to "Let's get this party started !", [:start, @party], { :class => "btn btn-primary" }